*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(rgb(168, 66, 168),rgb(219, 73, 97));
}

.box{
    display: flex;
}