*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(rgb(168, 66, 168),rgb(219, 73, 97));
}

.boxs{
    display: flex;
}

.boxs .eye{
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    background: #fff;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
                inset 0 0 15px rgb(168, 66, 168),
                inset 0 0 25px rgb(168, 66, 168);
}

.box .eye::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #000;
    border: 10px solid rgb(124, 59, 18);
    box-sizing: border-box;
}

